<div>
  The pipe operator ( | )

  <div>
    <div>
      Title through a pipe lowercase:
      {{'Lê Văn Thành' |  lowercase}}
    </div>

    <div>
      Title through a pipe uppercase:
      {{'Lê Văn Thành' | uppercase }}
    </div>


    <div>
      Title through a pipe chain uppercase > lowercase:
      {{'Lê Văn Thành' | uppercase | lowercase}}
    </div>

    sẽ chạy từng pipe một
    <div>
      Title through a pipe chain lowercase > uppercase:
      {{'Lê Văn Thành' | lowercase | uppercase}}
    </div>

  </div>
</div>
