<div class="item">
  <div>Create an observable from a promise</div>
  <button class="btn btn-success display-block" (click)="createAnObservableFromAPromise()">
    createAnObservableFromAPromise
  </button>
</div>

<div class="item">
  <div>Create an observable from a counter</div>
  <button class="btn btn-success display-block" (click)="createAnObservableFromACounter()">Create an observable from a
    counter
  </button>
</div>

<div class="item">
  <div>Create an observable from an event</div>
  <label id="createAnObservableFromAnEvent">di chuyển chuột vô đây để tạo event</label>
</div>

<div class="item">
  <div>Create an observable that creates an AJAX request</div>
  <button class="btn btn-success display-block" (click)="createAnObservableThatCreatesAnAJAXRequest()">Create an
    observable that
    creates an AJAX request
  </button>

</div>

<div class="item">
  <div style="font-size: 20px">Operators
  </div>
</div>
<div class="item">
  <div>Map operator map(), filter(), concat(), and flatMap()</div>
  <button class="btn btn-success display-block " (click)="createAOperatorMap()">createAOperatorMap ( sau đó xem ở log
    )
  </button>
  <button class="btn btn-success display-block" (click)="createAOperatorFilter()">createAOperatorFilter ( sau đó xem ở
    log )
  </button>
  <button class="btn btn-success display-block" (click)="createAOperatorConcat()">createAOperatorConcat ( sau đó xem ở
    log )
  </button>
  <button class="btn btn-success display-block" (click)="createAOperatorFlatMap()">createAOperatorFlatMap ( sau đó xem ở
    log )
  </button>

  <button class="btn btn-success display-block" (click)="createPipe()">createPipe ( sau đó xem ở
    log )
  </button>
  <button class="btn btn-success display-block" (click)="createCatchErrorHanding()">createCatchErrorHanding ( sau đó xem ở
    log )
  </button>
</div>
