<div class="item">
  <div>Create an observable from a promise</div>
  <button (click)="createAnObservableFromAPromise()">createAnObservableFromAPromise</button>
</div>

<div class="item">
  <div>Create an observable from a counter</div>
  <button (click)="createAnObservableFromACounter()">Create an observable from a counter</button>
</div>

<div class="item">
  <div>Create an observable from an event</div>
  <label id="createAnObservableFromAnEvent">di chuyển chuột vô đây để tạo event</label>
</div>

<div class="item">
  <div>Create an observable that creates an AJAX request</div>
  <button (click)="createAnObservableThatCreatesAnAJAXRequest()">Create an observable that creates an AJAX request
  </button>

</div>

<div class="item">
  <div style="font-size: 20px">Operators
  </div>
</div>
