<h1>
  pipe works!
</h1>


<p>The Le Thanh birthday is {{ birthday | date:"MM/dd/yyyy" }} </p>

<p (click)="formatBirthday ? formatBirthday=undefined : formatBirthday ='MM/dd/yyyy'">The Le Thanh birthday multil is {{
  birthday | date:formatBirthday
  }} </p>


<p>======================== chaining-pipes ================================</p>

<p>The Le Thanh birthday is {{ birthday | date:'fullDate' | uppercase }} </p>

<p>======================== Custom * 2 ================================</p>

<p>The Le Thanh birthday is {{ 100 | pipeMultiply:{value: 100}  }}</p>

<p>======================== Custom pipe sẽ không thay đổi nếu chúng ta sử dụng đầu vào nó là 1 mảng
  ================================</p>


<p>============================ Khi add thêm phần từ vào mảng, tham chiếu đến mảng k thay đổi nên chúng ta sử dụng
  Interaction
  ( biêu thức nội tại ) kiểm tra nó vẫn là tham chiếu đó nên nó sẽ k đc check thay đổi
  =================================</p>


<p>list Number gốc {{ listNumber}} biding 1 chiều data đến view</p>

<p>list Number sử dụng for sẽ đc cập nhật</p>
<ng-container *ngFor="let i of listNumber">
  {{i}}
</ng-container>
<p>list Number qua pile {{ listNumber | pipeMultiplyArrayNumber:{value: 100}  }} </p>

<button (click)="addNumber()">Add new number to array</button>
<button (click)="addNumberNewArray()">Add new number to array sau đó gắn với mảng mới</button>


<p>======================== Custom sử dụng Impure Pipe để k bị lỗi như ở trên nhưng hiệu suất sẽ giảm khi check thay đổi
  ================================</p>
<p>list Number gốc {{ listNumber}} biding 1 chiều data đến view</p>

<p>list Number sử dụng for sẽ đc cập nhật</p>
<ng-container *ngFor="let i of listNumber">
  {{i}}
</ng-container>
<p>list Number qua Impure pile {{ listNumber | pipeMultiplyArrayNumberImpurePipe:{value: 100}  }} </p>

<button (click)="addNumber()">Add new number to array</button>
<button (click)="addNumberNewArray()">Add new number to array sau đó gắn với mảng mới</button>

<p>======================== AsyncMessage ================================</p>

<p>{{ message$ | async}}</p>



<p>======================== JsonPipe
  ================================</p>

<p>{{ listNumber | json}}</p>
